@model IEnumerable<ProjetoBase_MagnificoPonto.Models.Amigurumi>

@{
    ViewData["Title"] = "Index";
}

<h1>Amigurumis</h1>


@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>              
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
        <a class="btn btn-success" asp-controller="Amigurumis" asp-action="Details" asp-route-id="@item.Id">Ver detalhes</a>
        </tr>
}
   